@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
.home-project-text-style{
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
  
}
.home-project-style{
    margin-bottom: 0px;
}
.home-project-button{
    margin-bottom: 0px;
}